<div>
  <div class="mx-auto p-3 t-10" style="width: 400px;">
    <h1 class="text-center">cocktails!</h1>
  </div>
</div>
<div class="row" style="margin-bottom: 50px;">
  <% @cocktails.each do |cocktail| %>
    <div class="card mx-auto p-3 shadow rounded-sm" style="width: 18rem; margin: 15px 0px;">
      <img src="https://images.pexels.com/photos/1232152/pexels-photo-1232152.jpeg?cs=srgb&dl=alcoholic-beverage-beverage-citrus-1232152.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text"><%= cocktail.description %></p>
        <%= link_to 'details', cocktail_path(cocktail) %>
      </div>
    </div>
  <% end %>
</div>
