<div class="d-inline-flex p-5 bd-highlight">
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit "create", class: "btn btn-primary" %>
  <% end %>
</div>
